
@font-face {
  font-family: 'SukhumvitSet-Light';
  src: url('SukhumvitSet-Lightd41d.eot?#iefix') format('embedded-opentype'),  url('SukhumvitSet-Light.woff') format('woff'), url('SukhumvitSet-Light.ttf')  format('truetype'), url('SukhumvitSet-Light.svg#SukhumvitSet-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
